@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import './components/Expenses/ExpenseDate.scss';
@import './components/Expenses/ExpenseItem.scss';
@import './components/Expenses//Expenses.scss';
@import './components/UI/Card.scss';
@import './components/NewExpense/NewExpense.scss';
@import './components/NewExpense/ExpenseForm.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: orange;
}

